

@media (max-width: 600px) {
    .navbar {
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar > h1 {
        font-size: 30px;
        margin-left: 0;
        line-height: 0.7;
    }
    .navbar > p {
        font-size: 15px;
        left: 40px;
    }
    .Container > a {
        font-size: 15px;
        top: 0;
        right: 10px;
    }
    .Card h1{
        font-size: 30px;
    }
    .Card h1 > p {
        font-size: 15px;
    }
    .drawOneBtn {
        font-size: 15px;
        width: 80px;
        height: 40px;
    }
    .Card-Info h2{
       font-size: 20px;
    }
    .Card-Info img {
        width: 200px;
        height: 400px;
    }
    .Card-Summary p {
        font-size: 15px;
        width: auto;
        margin: 10px;
        margin-bottom: 0;
    }
}


@media (min-width: 900px) {
   .navbar {
       top: 20px;
   }
    .navbar > h1 {
        margin-left: 160px;
        line-height: 0.7;
    }
    .Container > a {
        right: 200px;
    }
}