@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Alex Brush', cursive;
  width: 100%;
  height: 150%;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(56,68,82,1) 100%);
  /* background-image: url('../img/witchy.jpg'); */
  background-image: url('../img/bluesmoke.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* .App-Name::before {
  content: "";
  background-image: url('/TarotPage/img/witchy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.60;
} */

.App-Name {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 20px;
}

.App-Name h1 {
  margin-top: 80px;
  font-size: 300px;
  padding-bottom: 30px;
  line-height: 0.7;
  position: relative;
}

.App-Name h5 {
  font-size: 30px;
  padding-bottom: 30px;
  position: relative;
  left: 200px;
  bottom: 50px;
}

.App-Name-Focus  {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-top: -80px;
  color: white;
  line-height: 1;
  z-index: 4;
}

.App-Name-Focus strong{
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
  /* font-weight: lighter; */
  color: white;
}

.App-Draw {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
  align-items: center;
  color: white;
  z-index: 4;
}

.contact {
  font-family: 'Raleway', sans-serif;  
  margin-top: 60px;
  font-size: 25px;
  text-align: center;
  color: white;
  padding-bottom: 60px;
}

.contact i {
  font-size: 30px;
}

/* Bootstrap Card */
.card {
  background-color: none;
  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card-title {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;  
  text-align: center;
}


.btn {
  font-family: 'Raleway', sans-serif; 
  margin-left: 33%; 
  margin-bottom: 20px;
  align-content: center;
}

