@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(11,29,51,1) 100%);
    /* background-image: url('../img/bluesmoke.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.Container {
    width: 100%;
    height: 150%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content:center; 
    align-items:center;  
}

.navbar {
    font-family: 'Alex Brush', cursive;
    font-weight: lighter;
    align-self: flex-start;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
}

.navbar > h1 {
    font-size: 60px;
    margin-left: 100px;
    margin-top: 30px;
    position: relative;
    line-height: 0.7;
}

.navbar > p {
    font-size: 25px;
    position: absolute;
    left: 180px;
    padding-top: 0;
    margin-top: 0;
}

.Container > a {
    text-decoration: none;
    align-self: flex-end;
    justify-self:flex-end;
    position: relative;
    top: 0px;
    right: 160px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Alex Brush', cursive;
    font-weight: lighter;
    color: white;
}

.Card {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    color: white;
    height: 25%;
    width: 100%;
    position: relative;
}

.Card h1 {
    padding-top: 30px;
    /* padding-bottom: 20px; */
    font-size: 50px;
    /* margin-bottom: 30px; */
}

.Card h1 > p {
    margin: 0 0;
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.drawOneBtn {
    width: 100px;
    height: 60px;
    font-size: 20px;
    border-radius: 10%;
    text-decoration: none;
    background-color: white;
    color: grey;  
    cursor: pointer;  
}

.Card-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card-Info h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.Card-Info img {
    width: 400px;
    height: 600px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.Card-Summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.Card-Summary h5 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.Card-Summary p {
    font-size: 20px;
    text-align: center;
    width: 900px;
}

button > a{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10%;
    text-decoration: none;
    background-color: white;
    color: grey; 
    cursor: pointer;
}
