@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
    font-family: 'Alex Brush', cursive;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(11,29,51,1) 100%);
    padding-right: 10%;
    padding-left: 10%;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* color: white; */
    background: white;
    width: 100%;
}

.navbar > h1 {
    font-size: 60px;
    line-height: 0.7;
    position: relative;
    margin-left: 20px;
} 

.navbar > p {
    font-size: 25px;
    position: absolute;
    left: 15%;
    top: 50px;
    padding-bottom: 0;
}

.navbar > a {
    align-self: flex-end;
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.slider {
    max-width: 80%;
    margin: 0 auto;
}
  
.container {
    max-width: 100%;
    background-color: grey;
}
  
.jumbotron {
    font-family: 'Raleway', cursive;
    margin-top: 1%;
    text-align: center; 
    margin-bottom: 0px;
}

.jumbotron h1 {
    font-family: 'Alex Brush', cursive;
}

.jumbotron p {
    text-align: center;
    font-size: 20px;  
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
}

.btn {
    background:rgb(200, 170, 200);
    /* background-color: rgb(177, 139, 169); */
    color: #fff;
}
  
.invert {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
  
  
